Trangsuc/Service References/ServiceReferenceHoadon/WcfServiceTrangsuc.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceTrangsuc" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceTrangsuc" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfHoadon_DTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Hoadon_DTO" nillable="true" type="tns:Hoadon_DTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHoadon_DTO" nillable="true" type="tns:ArrayOfHoadon_DTO" />
  <xs:complexType name="Hoadon_DTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Diadiemgiaohang" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Mahoadon" type="xs:int" />
      <xs:element minOccurs="0" name="Ngaygiaohang" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Ngaymuahang" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Nguoidung" nillable="true" type="tns:Nguoidung_DTO" />
      <xs:element minOccurs="0" name="Sdt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tendangnhap" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tongtien" type="xs:int" />
      <xs:element minOccurs="0" name="Trangthai" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Hoadon_DTO" nillable="true" type="tns:Hoadon_DTO" />
  <xs:complexType name="Nguoidung_DTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Diachi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gioitinh" type="xs:int" />
      <xs:element minOccurs="0" name="Hoten" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ngaysinh" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Pass" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quyen" nillable="true" type="tns:Phanquyen_DTO" />
      <xs:element minOccurs="0" name="Sdt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Useran" type="xs:boolean" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Nguoidung_DTO" nillable="true" type="tns:Nguoidung_DTO" />
  <xs:complexType name="Phanquyen_DTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Maphanquyen" type="xs:int" />
      <xs:element minOccurs="0" name="Quyen" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Phanquyen_DTO" nillable="true" type="tns:Phanquyen_DTO" />
  <xs:complexType name="ArrayOfChitiethoadon_DTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Chitiethoadon_DTO" nillable="true" type="tns:Chitiethoadon_DTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfChitiethoadon_DTO" nillable="true" type="tns:ArrayOfChitiethoadon_DTO" />
  <xs:complexType name="Chitiethoadon_DTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Giasanpham" type="xs:int" />
      <xs:element minOccurs="0" name="Hoadon" nillable="true" type="tns:Hoadon_DTO" />
      <xs:element minOccurs="0" name="Masanpham" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sanpham" nillable="true" type="tns:Sanpham_DTO" />
      <xs:element minOccurs="0" name="Soluong" type="xs:int" />
      <xs:element minOccurs="0" name="Tensanpham" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Thanhtien" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Chitiethoadon_DTO" nillable="true" type="tns:Chitiethoadon_DTO" />
  <xs:complexType name="Sanpham_DTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Chatlieu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Giasanpham" type="xs:int" />
      <xs:element minOccurs="0" name="Hinhanh" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Loai" nillable="true" type="tns:Loaisanpham_DTO" />
      <xs:element minOccurs="0" name="Masanpham" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sanphammoi" type="xs:int" />
      <xs:element minOccurs="0" name="Tenloai" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tensanpham" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Sanpham_DTO" nillable="true" type="tns:Sanpham_DTO" />
  <xs:complexType name="Loaisanpham_DTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Maloai" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tenloai" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Loaisanpham_DTO" nillable="true" type="tns:Loaisanpham_DTO" />
</xs:schema>