TrangsucWF/Service References/ServiceReferencePhieuxuat/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicePhieuxuat" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WcfServiceTrangsuc" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicePhieuxuat_GetAllphieuxuat_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllphieuxuat" />
  </wsdl:message>
  <wsdl:message name="IServicePhieuxuat_GetAllphieuxuat_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllphieuxuatResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePhieuxuat_GetChitietByMa_InputMessage">
    <wsdl:part name="parameters" element="tns:GetChitietByMa" />
  </wsdl:message>
  <wsdl:message name="IServicePhieuxuat_GetChitietByMa_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetChitietByMaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePhieuxuat_GetphieuxuatByMa_InputMessage">
    <wsdl:part name="parameters" element="tns:GetphieuxuatByMa" />
  </wsdl:message>
  <wsdl:message name="IServicePhieuxuat_GetphieuxuatByMa_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetphieuxuatByMaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePhieuxuat_Insertphieuxuat_InputMessage">
    <wsdl:part name="parameters" element="tns:Insertphieuxuat" />
  </wsdl:message>
  <wsdl:message name="IServicePhieuxuat_Insertphieuxuat_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertphieuxuatResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePhieuxuat_Updatephieuxuat_InputMessage">
    <wsdl:part name="parameters" element="tns:Updatephieuxuat" />
  </wsdl:message>
  <wsdl:message name="IServicePhieuxuat_Updatephieuxuat_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatephieuxuatResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePhieuxuat_InsertChitiet_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertChitiet" />
  </wsdl:message>
  <wsdl:message name="IServicePhieuxuat_InsertChitiet_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertChitietResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePhieuxuat_UpdateChitiet_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateChitiet" />
  </wsdl:message>
  <wsdl:message name="IServicePhieuxuat_UpdateChitiet_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateChitietResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePhieuxuat_DeleteChitiet_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteChitiet" />
  </wsdl:message>
  <wsdl:message name="IServicePhieuxuat_DeleteChitiet_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteChitietResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicePhieuxuat">
    <wsdl:operation name="GetAllphieuxuat">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePhieuxuat/GetAllphieuxuat" message="tns:IServicePhieuxuat_GetAllphieuxuat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePhieuxuat/GetAllphieuxuatResponse" message="tns:IServicePhieuxuat_GetAllphieuxuat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetChitietByMa">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePhieuxuat/GetChitietByMa" message="tns:IServicePhieuxuat_GetChitietByMa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePhieuxuat/GetChitietByMaResponse" message="tns:IServicePhieuxuat_GetChitietByMa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetphieuxuatByMa">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePhieuxuat/GetphieuxuatByMa" message="tns:IServicePhieuxuat_GetphieuxuatByMa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePhieuxuat/GetphieuxuatByMaResponse" message="tns:IServicePhieuxuat_GetphieuxuatByMa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insertphieuxuat">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePhieuxuat/Insertphieuxuat" message="tns:IServicePhieuxuat_Insertphieuxuat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePhieuxuat/InsertphieuxuatResponse" message="tns:IServicePhieuxuat_Insertphieuxuat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Updatephieuxuat">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePhieuxuat/Updatephieuxuat" message="tns:IServicePhieuxuat_Updatephieuxuat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePhieuxuat/UpdatephieuxuatResponse" message="tns:IServicePhieuxuat_Updatephieuxuat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertChitiet">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePhieuxuat/InsertChitiet" message="tns:IServicePhieuxuat_InsertChitiet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePhieuxuat/InsertChitietResponse" message="tns:IServicePhieuxuat_InsertChitiet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateChitiet">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePhieuxuat/UpdateChitiet" message="tns:IServicePhieuxuat_UpdateChitiet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePhieuxuat/UpdateChitietResponse" message="tns:IServicePhieuxuat_UpdateChitiet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteChitiet">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePhieuxuat/DeleteChitiet" message="tns:IServicePhieuxuat_DeleteChitiet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePhieuxuat/DeleteChitietResponse" message="tns:IServicePhieuxuat_DeleteChitiet_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicePhieuxuat" type="tns:IServicePhieuxuat">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllphieuxuat">
      <soap:operation soapAction="http://tempuri.org/IServicePhieuxuat/GetAllphieuxuat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChitietByMa">
      <soap:operation soapAction="http://tempuri.org/IServicePhieuxuat/GetChitietByMa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetphieuxuatByMa">
      <soap:operation soapAction="http://tempuri.org/IServicePhieuxuat/GetphieuxuatByMa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insertphieuxuat">
      <soap:operation soapAction="http://tempuri.org/IServicePhieuxuat/Insertphieuxuat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Updatephieuxuat">
      <soap:operation soapAction="http://tempuri.org/IServicePhieuxuat/Updatephieuxuat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertChitiet">
      <soap:operation soapAction="http://tempuri.org/IServicePhieuxuat/InsertChitiet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateChitiet">
      <soap:operation soapAction="http://tempuri.org/IServicePhieuxuat/UpdateChitiet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteChitiet">
      <soap:operation soapAction="http://tempuri.org/IServicePhieuxuat/DeleteChitiet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicePhieuxuat">
    <wsdl:port name="BasicHttpBinding_IServicePhieuxuat" binding="tns:BasicHttpBinding_IServicePhieuxuat">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfServiceTrangsuc/ServicePhieuxuat/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>