TrangsucWF/Service References/ServiceReferenceTonkho/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WcfServiceTrangsuc" />
  <xs:element name="GetAllTonkho">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maloai" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ngay" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTonkhoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServiceTrangsuc" minOccurs="0" name="GetAllTonkhoResult" nillable="true" type="q1:ArrayOfTonkho_DTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Find">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="masp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfServiceTrangsuc" minOccurs="0" name="FindResult" nillable="true" type="q2:Tonkho_DTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NhapKho">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfServiceTrangsuc" minOccurs="0" name="ctpn" nillable="true" type="q3:Chitietphieunhap_DTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NhapKhoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NhapKhoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XuatKho">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfServiceTrangsuc" minOccurs="0" name="ctpx" nillable="true" type="q4:Chitietphieuxuat_DTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XuatKhoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="XuatKhoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>