Trangsuc/Service References/ServiceReferenceNguoidung/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceNguoidung" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WcfServiceTrangsuc" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceNguoidung_GetAllNguoidung_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllNguoidung" />
  </wsdl:message>
  <wsdl:message name="IServiceNguoidung_GetAllNguoidung_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllNguoidungResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceNguoidung_GetQuyen_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQuyen" />
  </wsdl:message>
  <wsdl:message name="IServiceNguoidung_GetQuyen_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQuyenResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceNguoidung_GetAllQuyen_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllQuyen" />
  </wsdl:message>
  <wsdl:message name="IServiceNguoidung_GetAllQuyen_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllQuyenResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceNguoidung_GetNguoidungByUsername_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNguoidungByUsername" />
  </wsdl:message>
  <wsdl:message name="IServiceNguoidung_GetNguoidungByUsername_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNguoidungByUsernameResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceNguoidung_Insert_InputMessage">
    <wsdl:part name="parameters" element="tns:Insert" />
  </wsdl:message>
  <wsdl:message name="IServiceNguoidung_Insert_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceNguoidung_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IServiceNguoidung_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceNguoidung">
    <wsdl:operation name="GetAllNguoidung">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceNguoidung/GetAllNguoidung" message="tns:IServiceNguoidung_GetAllNguoidung_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceNguoidung/GetAllNguoidungResponse" message="tns:IServiceNguoidung_GetAllNguoidung_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetQuyen">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceNguoidung/GetQuyen" message="tns:IServiceNguoidung_GetQuyen_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceNguoidung/GetQuyenResponse" message="tns:IServiceNguoidung_GetQuyen_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllQuyen">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceNguoidung/GetAllQuyen" message="tns:IServiceNguoidung_GetAllQuyen_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceNguoidung/GetAllQuyenResponse" message="tns:IServiceNguoidung_GetAllQuyen_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNguoidungByUsername">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceNguoidung/GetNguoidungByUsername" message="tns:IServiceNguoidung_GetNguoidungByUsername_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceNguoidung/GetNguoidungByUsernameResponse" message="tns:IServiceNguoidung_GetNguoidungByUsername_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceNguoidung/Insert" message="tns:IServiceNguoidung_Insert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceNguoidung/InsertResponse" message="tns:IServiceNguoidung_Insert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceNguoidung/Update" message="tns:IServiceNguoidung_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceNguoidung/UpdateResponse" message="tns:IServiceNguoidung_Update_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceNguoidung" type="tns:IServiceNguoidung">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllNguoidung">
      <soap:operation soapAction="http://tempuri.org/IServiceNguoidung/GetAllNguoidung" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuyen">
      <soap:operation soapAction="http://tempuri.org/IServiceNguoidung/GetQuyen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllQuyen">
      <soap:operation soapAction="http://tempuri.org/IServiceNguoidung/GetAllQuyen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNguoidungByUsername">
      <soap:operation soapAction="http://tempuri.org/IServiceNguoidung/GetNguoidungByUsername" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <soap:operation soapAction="http://tempuri.org/IServiceNguoidung/Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IServiceNguoidung/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceNguoidung">
    <wsdl:port name="BasicHttpBinding_IServiceNguoidung" binding="tns:BasicHttpBinding_IServiceNguoidung">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfServiceTrangsuc/ServiceNguoidung/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>