Trangsuc/Service References/ServiceReferenceNguoidung/WcfServiceTrangsuc.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceTrangsuc" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceTrangsuc" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfNguoidung_DTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Nguoidung_DTO" nillable="true" type="tns:Nguoidung_DTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNguoidung_DTO" nillable="true" type="tns:ArrayOfNguoidung_DTO" />
  <xs:complexType name="Nguoidung_DTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Diachi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gioitinh" type="xs:int" />
      <xs:element minOccurs="0" name="Hoten" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ngaysinh" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Pass" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quyen" nillable="true" type="tns:Phanquyen_DTO" />
      <xs:element minOccurs="0" name="Sdt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Useran" type="xs:boolean" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Nguoidung_DTO" nillable="true" type="tns:Nguoidung_DTO" />
  <xs:complexType name="Phanquyen_DTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Maphanquyen" type="xs:int" />
      <xs:element minOccurs="0" name="Quyen" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Phanquyen_DTO" nillable="true" type="tns:Phanquyen_DTO" />
  <xs:complexType name="ArrayOfPhanquyen_DTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Phanquyen_DTO" nillable="true" type="tns:Phanquyen_DTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPhanquyen_DTO" nillable="true" type="tns:ArrayOfPhanquyen_DTO" />
</xs:schema>