TrangsucWF/Service References/ServiceReferencePhieunhap/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WcfServiceTrangsuc" />
  <xs:element name="GetAllPhieunhap">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPhieunhapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServiceTrangsuc" minOccurs="0" name="GetAllPhieunhapResult" nillable="true" type="q1:ArrayOfPhieunhap_DTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChitietByMa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maphieunhap" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChitietByMaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfServiceTrangsuc" minOccurs="0" name="GetChitietByMaResult" nillable="true" type="q2:ArrayOfChitietphieunhap_DTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPhieunhapByMa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maphieunhap" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPhieunhapByMaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfServiceTrangsuc" minOccurs="0" name="GetPhieunhapByMaResult" nillable="true" type="q3:Phieunhap_DTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPhieunhap">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfServiceTrangsuc" minOccurs="0" name="pn" nillable="true" type="q4:Phieunhap_DTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPhieunhapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertPhieunhapResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePhieunhap">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfServiceTrangsuc" minOccurs="0" name="pn" nillable="true" type="q5:Phieunhap_DTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePhieunhapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePhieunhapResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertChitiet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfServiceTrangsuc" minOccurs="0" name="pn" nillable="true" type="q6:Chitietphieunhap_DTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertChitietResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertChitietResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateChitiet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WcfServiceTrangsuc" minOccurs="0" name="pn" nillable="true" type="q7:Chitietphieunhap_DTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateChitietResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateChitietResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteChitiet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WcfServiceTrangsuc" minOccurs="0" name="pn" nillable="true" type="q8:Chitietphieunhap_DTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteChitietResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteChitietResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>