TrangsucWF/Service References/ServiceReferenceHoadon/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceHoadon" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WcfServiceTrangsuc" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceHoadon_GetAllHoadon_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllHoadon" />
  </wsdl:message>
  <wsdl:message name="IServiceHoadon_GetAllHoadon_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllHoadonResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceHoadon_GetChitietByMa_InputMessage">
    <wsdl:part name="parameters" element="tns:GetChitietByMa" />
  </wsdl:message>
  <wsdl:message name="IServiceHoadon_GetChitietByMa_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetChitietByMaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceHoadon_GetHoadonByMa_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHoadonByMa" />
  </wsdl:message>
  <wsdl:message name="IServiceHoadon_GetHoadonByMa_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHoadonByMaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceHoadon_InsertHoadon_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertHoadon" />
  </wsdl:message>
  <wsdl:message name="IServiceHoadon_InsertHoadon_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertHoadonResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceHoadon_UpdateHoadon_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateHoadon" />
  </wsdl:message>
  <wsdl:message name="IServiceHoadon_UpdateHoadon_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateHoadonResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceHoadon_InsertChitiet_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertChitiet" />
  </wsdl:message>
  <wsdl:message name="IServiceHoadon_InsertChitiet_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertChitietResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceHoadon_GetAllChitiet_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllChitiet" />
  </wsdl:message>
  <wsdl:message name="IServiceHoadon_GetAllChitiet_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllChitietResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceHoadon">
    <wsdl:operation name="GetAllHoadon">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceHoadon/GetAllHoadon" message="tns:IServiceHoadon_GetAllHoadon_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceHoadon/GetAllHoadonResponse" message="tns:IServiceHoadon_GetAllHoadon_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetChitietByMa">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceHoadon/GetChitietByMa" message="tns:IServiceHoadon_GetChitietByMa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceHoadon/GetChitietByMaResponse" message="tns:IServiceHoadon_GetChitietByMa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHoadonByMa">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceHoadon/GetHoadonByMa" message="tns:IServiceHoadon_GetHoadonByMa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceHoadon/GetHoadonByMaResponse" message="tns:IServiceHoadon_GetHoadonByMa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertHoadon">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceHoadon/InsertHoadon" message="tns:IServiceHoadon_InsertHoadon_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceHoadon/InsertHoadonResponse" message="tns:IServiceHoadon_InsertHoadon_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateHoadon">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceHoadon/UpdateHoadon" message="tns:IServiceHoadon_UpdateHoadon_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceHoadon/UpdateHoadonResponse" message="tns:IServiceHoadon_UpdateHoadon_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertChitiet">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceHoadon/InsertChitiet" message="tns:IServiceHoadon_InsertChitiet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceHoadon/InsertChitietResponse" message="tns:IServiceHoadon_InsertChitiet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllChitiet">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceHoadon/GetAllChitiet" message="tns:IServiceHoadon_GetAllChitiet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceHoadon/GetAllChitietResponse" message="tns:IServiceHoadon_GetAllChitiet_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceHoadon" type="tns:IServiceHoadon">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllHoadon">
      <soap:operation soapAction="http://tempuri.org/IServiceHoadon/GetAllHoadon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChitietByMa">
      <soap:operation soapAction="http://tempuri.org/IServiceHoadon/GetChitietByMa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHoadonByMa">
      <soap:operation soapAction="http://tempuri.org/IServiceHoadon/GetHoadonByMa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertHoadon">
      <soap:operation soapAction="http://tempuri.org/IServiceHoadon/InsertHoadon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateHoadon">
      <soap:operation soapAction="http://tempuri.org/IServiceHoadon/UpdateHoadon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertChitiet">
      <soap:operation soapAction="http://tempuri.org/IServiceHoadon/InsertChitiet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllChitiet">
      <soap:operation soapAction="http://tempuri.org/IServiceHoadon/GetAllChitiet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceHoadon">
    <wsdl:port name="BasicHttpBinding_IServiceHoadon" binding="tns:BasicHttpBinding_IServiceHoadon">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfServiceTrangsuc/ServiceHoadon/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>