TrangsucWF/Service References/ServiceReferenceSanpham/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceTrangsuc" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceTrangsuc" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSanpham_DTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Sanpham_DTO" nillable="true" type="tns:Sanpham_DTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSanpham_DTO" nillable="true" type="tns:ArrayOfSanpham_DTO" />
  <xs:complexType name="Sanpham_DTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Chatlieu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Giasanpham" type="xs:int" />
      <xs:element minOccurs="0" name="Hinhanh" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Loai" nillable="true" type="tns:Loaisanpham_DTO" />
      <xs:element minOccurs="0" name="Masanpham" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sanphammoi" type="xs:int" />
      <xs:element minOccurs="0" name="Tenloai" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tensanpham" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Sanpham_DTO" nillable="true" type="tns:Sanpham_DTO" />
  <xs:complexType name="Loaisanpham_DTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Maloai" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tenloai" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Loaisanpham_DTO" nillable="true" type="tns:Loaisanpham_DTO" />
  <xs:complexType name="ArrayOfLoaisanpham_DTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Loaisanpham_DTO" nillable="true" type="tns:Loaisanpham_DTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLoaisanpham_DTO" nillable="true" type="tns:ArrayOfLoaisanpham_DTO" />
</xs:schema>