Trangsuc/Service References/ServiceReferenceAdmin/WcfServiceTrangsuc.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceTrangsuc" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceTrangsuc" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfadmin">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="admin" nillable="true" type="tns:admin" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfadmin" nillable="true" type="tns:ArrayOfadmin" />
  <xs:complexType name="admin">
    <xs:sequence>
      <xs:element minOccurs="0" name="hoten" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ngaysinh" type="xs:dateTime" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="admin" nillable="true" type="tns:admin" />
</xs:schema>